{
  "sandbox": {
    "NEXTAUTH_URL": "http://localhost:3000",
    "NEXTAUTH_SECRET": "",
    "NEXT_PUBLIC_BASE_PATH": "",
    "NEXT_PUBLIC_ASSET_LOGO": "/images/logo_light.png",
    "NEXT_PUBLIC_DB_API_URL": "http://localhost:3000",
    "NEXT_PUBLIC_PORTAL_API_URL": "http://localhost:3000",
    "NEXT_PUBLIC_NODE_API_URL": "http://localhost:4000",
    "NEXT_PUBLIC_CONTEXT": "development"
  },
  "production": {
    "NEXTAUTH_URL": "https://sunghwan-portal.vercel.app",
    "NEXTAUTH_SECRET": "",
    "NEXT_PUBLIC_BASE_PATH": "/sunghwan-portal",
    "NEXT_PUBLIC_ASSET_LOGO": "/images/logo_light.png",
    "NEXT_PUBLIC_DB_API_URL": "",
    "NEXT_PUBLIC_PORTAL_API_URL": "",
    "NEXT_PUBLIC_NODE_API_URL": "",
    "NEXT_PUBLIC_CONTEXT": "production"
  }
}
