@tailwind base;
@tailwind components;
@tailwind utilities;

/* OVERRIDE ANY VALUE FROM THE GLOBALS STYLE SHEET */
@layer base {
  html[data-theme="emerald"] {
    --primary: #0f9d9f;
    --muted-primary: #d6f0f0;
    --light-background: #e0f7f7;

    /* PORTAL */
    --portal-logo: #35fcff;
  }

  html[data-theme="aquamarine"].dark {
    --portal-accent: #2f4f4f;
    --portal-branding: #1b1b1d;
    --portal-light-accent: #434343;
    --portal-foreground: #0f9d9f;
    --portal-background: #1e1f21;
  }
}
